<h1>Log In Below:</h1>
<form action="/sessions" method="POST">
<p><input type="text" name="email" placeholder="Email:"></p>
<p><input type="text" name="password" placeholder="Password:"></p>
<p><button id="Log In" type="submit">Log in</button></p>
</form>

