<h1>Log In Below:</h1>
<form method = 'POST' action = '/sessions'>
Email:<input name="email" type="text">
Password:<input name="password" type="password">
<input type="submit" name="Log In" value="Log In">
</form>