<h1>Sign Up Below:</h1>

<form method="POST" action="/registrations">
<input type="text" id="name" name="name" placeholder="Input your name here">
<input type="text" id="email" name="email" placeholder="Please enter your email">
<input type="text" id="password" name="password" placeholder="Please enter your password">
<input type="submit" value="Sign Up">
</form>
