<h1>Sign Up Below:</h1>
<form action="/registrations" method="POST">
<p><input type="text" name="name" placeholder="Name:"></p>
<p><input type="text" name="email" placeholder="Email:"></p>
<p><input type="text" name="password" placeholder="Password:"></p>
<p><button id ="Sign Up" type="submit">Sign me up!</button></p>
</form>


