<h1>Sign Up Below:</h1>
<form method='POST' action = '/registrations'>
User Name:<input name="name" type="text">
Email:<input name="email" type="text">
Password:<input name="password" type = "password">
<input type = "submit" name = "Sign Up" value = "Sign Up">

